*{margin: 0;padding: 0;box-sizing: border-box;text-decoration: none;border: none;outline: none;scroll-behavior: smooth;font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif}
html{overflow-x: hidden;}
.header{background-color: #1D5801;position: fixed;top:0;left: 0;width: 100%;padding: 2rem 9%;display: flex;justify-content: space-between;align-items: center;z-index: 100;height: 15vh;}

#fresh{color: rgb(252, 8, 8);font-size: 30px;font-weight: 600;margin-left: 40px;margin-top: -303px;}
#rahisi{color: rgb(20, 238, 20);font-size: 30px;font-weight: 600;}
/* .navbar a{font-size: 1.7rem;margin-left: 4rem;gap: 0px;} */

/* #logs{margin-top: 100px;}
#about{margin-top: -15%;} 
 #fresh2{margin-left: 40px;}

#rahisi2{margin-top: -18px;margin-left: 80px;} */
#pic1{margin-left: 4%;width: 20%;}
#pic2{width: 60%;margin-left: 470px;height: 80vh;border-radius: 120px 40px;margin-top: 5px;}
#get1{margin-left: 38px; margin-top: -20%;font-size: 30px;font-weight: 800;}
/* .wordy{margin-left: -0px; margin-top: -76%;} */
#get2{margin-left: 160px;color: green;font-size: 20px;font-weight: 800;margin-top: -100px;}
#about2{margin-left: 500px;font-size: 50px;font-weight: 1000;color: rgb(5, 109, 35);}
#words{margin-left: 150px;font-size: 20px;}
#mission{font-size: 25px;font-weight: 800;margin-left: 35px;color: #1d5801;}
#missionword{margin-left: 200px;margin-top: -33px;font-size: 20px;}
#vision{font-size: 25px;font-weight: 800;margin-left: 40px;color: #1d5801;}
#visionword{margin-left: 200px;margin-top: -22px;font-size: 20px;}
#bring{text-align: center;margin-top: 3%;font-style: italic;color:lime;font-weight:bolder;font-size: 30px;}
#pic4{margin-top: 70px;margin-left: -30px;}
#thank{font-size: 18px;margin-top: -270px;float: right;margin-right: 15%;background-color: whitesmoke;height: 250px;padding: 50px;border-radius: 40px 120px;}
#hands{margin-left: 700px;font-size: 70px;margin-top: -90px;}
#team{margin-left: 570px;margin-top: 60px;font-size: 45px;font-weight: 1000;color: rgb(5, 109, 35);}
#devs{margin-left: 20px;font-size: 18px; text-align: center;}
#menuBtn{display: none;}
/* .home{margin-left: 700px;} */
#sideNav {
  display: flex;
  place-items: center;
  /* justify-content: space-evenly; */
background-color: #1D5801;
height: 10vh;
padding: 0 30px;


}

#sideNav ul li{
  list-style: none;
  display: inline;
  padding: 0 10px;
  margin: 0;
 




}

/* #sideNav li {
  padding-top: 200px;
} */

#sideNav a {
  text-decoration: none; 
  color:white;font-weight: 800;
}
.hambuger{
  display: none;
}
#logo1{
  /* margin-top: -20%; */
  /* height: 20%; */
  display:none;
  border: solid black;

}

.photo1, .photo2{
  /* margin: 20px; */
  width: 300px;
}
.row1,.row2{
  display: flex;
  flex-wrap: wrap;


  justify-content: space-evenly;
}
#us1{
  /* clip-path: circle(); */
  border-radius: 200px;
  width: 30 rem;
  height: 30px;
  object-fit: cover;
  margin: auto;
  margin-left: 30px;
  
}
.row1{
  margin-bottom: 5%;
}
 #us1{
  width: 250px;
  height: 250px;
}
#prdt{margin-left: 500px;font-size: 50px;font-weight: 1000;color: rgb(5, 109, 35);}
#app{color: green;font-size: 30px;font-weight: 800;margin-left: 500px;margin-top: 20px;}
#v1{width: 28%;border-radius: 40px 120px;margin-left: 44px; height: 57vh;}
#v2{width: 28%;height:57vh;border-radius: 40px 120px;margin-left: 53px;}
#v3{width: 28%;height:57vh;border-radius: 40px 120px;margin-left: 59px;}
#our{margin-left: 190px;font-size: 20px;}
.footer{display: flex; margin-top: 2%;background-color: #1D5801;height: 250px;color: white;font-size: 20px;}

.tion{margin-left: 25%;margin-top: 5%;}
.con{margin-left: 25%;margin-top: 5%;}
.location{margin-left: 3.5%;margin-top: 5%;}
#h4{
  margin-left: 70px;
}
#p5{
  margin-left: 110px;
}

@media only screen and (max-width: 920px) {

.tion{margin-left: 20%;margin-top: 5%;}
.con{margin-left: 20%;margin-top: 5%;}
.location{margin-left: 10%;margin-top: 5%;}


@media only screen and (max-width: 575px) {

  body {
    font-size: 12px;
    margin-left: 10px;
  }
  #sideNav{
    width: 250px;
    height: 30vh;
    position: fixed;
    right: -500px;
    top: 0;
    background:green;
    z-index: 2;
    transition: .5s;
  }
  #sideNav ul li{
    list-style: none; 
    display: flex; 
margin-top: 50%;
    padding: 10px;
    margin: 0;
  }
  /* nav ul li{
    list-style: none;
    margin: 50px 20px;
    float: right;
    display: flex;
    flex-direction: column;
  
  } */
  /* nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
  } */
  #menuBtn{
    width: 70px;
    position: fixed;
    right:25px ;
    top: 20px;
    z-index: 2;
    cursor: pointer;
    display: block;
    

  
  }
  #logo1{
    margin-top:5%;
  }
 
    #navbar {
   display: flex; 
  justify-content: space-between; /* Distribute the components evenly along the horizontal axis */
  background-color: #f1f1f1; /* Optional background color */
}

#navbar ul {
  list-style: none; /* Remove default list styles */
  display: flex; /* Set the <ul> as a flex container */
  padding: 0;
  margin: 0;
}

#navbar li {
  margin: 0 10px; /* Add margin between the components */
}

#navbar a {
  text-decoration: none; /* Remove underline */
  color: #333; /* Set link color */
}

  }



@media only screen and (max-width: 1024px) {
  body {
    font-size: 12px;
    margin-left: 10px;
  }
  #sideNav {
    /* Existing CSS */
     /* Add this line to hide the side navigation by default */
     /* position: fixed; */
  }
  #menubtn{
    display: none;
  }
  .footer{
      display:grid;
      height:100%;
      width:100%;
      font-size:15px;
  }
  .con{

      margin-left:10px;
  }
  .tion{
    margin-left:10px;
  }
  #p5{
    margin-left: 10px;
  }
  .location{
      margin-left:10px;

      margin-left:30%;
  }
  .tion{
    margin-left:30%;
  }
  .location{
      margin-left:30%;

  }
  #prdt{
      margin-left:5%
  }
  #our{
      margin-left:0px;
      font-size:xx-small
  }
  #about2{
      margin-left:0px;
      margin-bottom: 2%;
  }
  #about{
    /* margin-top:-50%; */
    
  }
  #about{
    margin-top:-50%;
  }
  #missionword{
      margin-left:0;
  }
  #visionword{
      margin-left:0;
  }
  #bring{
      margin-left:0;
  }
  #pic4{
      margin-top:10%;
  }
  #thank{
      margin-top:10px
  }
  #us2{
      margin-left:20%;
      align-items:center;
  }
  #us1{
      margin-left:20%;
  }
  #us3{
      margin-left:20%;
  }
  #us4{
      margin-left:20%;
  }
  #us5{
      margin-left:20%;
  }
  #words{
      margin-left:0;
  }
  #team{
      margin-left:35%;
  }
  #devs{
      margin-left:8%;
      font-size:10px;
  }
  #app{
      margin-left:5%;
  }
  #hands{
      margin-left:15%;
  }
  #fresh{margin-left: -200px;font-size:30px;margin-top:15px}
  /*   #rahisi{margin-left:-459px;margin-top:10%;font-size:40px} */
    #rahisi{margin-left: -200px;font-size: 30px;margin-top: 0%;}  
    .logo {
      font-size: 10px;
    }
  .logo {
    font-size: 10px;
  }
  .home{margin-left: -200px;font-size: small;}
  .about{margin-left: -20px;}
  .header{width: 99%;height:20%}
  #pic1 {
    width: 230px;margin-top: px;margin-left:-140px;
  }
  #nav{
      display:grid;
      margin-left:10%;
  }
  .home{
      margin-left:-150px;
      font-size:20px;
      color: white;
  }
  .about{
      margin-left:-150px;
      color: white;
  }
  .product{
      margin-left:-150px;
      color: white;
  }
  .contacts{
    margin-left: -150px;
    color: white;
  }
  #pic2 {

    width: 90%;margin-left:5%;height:60%;margin-top: -5%;


  }
  #pic3 {
    width: 100%;margin-top: 50px;margin-left:0
  }
  #pic4 {
    width: 80%;

    margin-left:0%;


  }
  #us1, #us2, #us3, #us4, #us5 {
    width: 50%;
  }
  #v1, #v2, #v3 {
    width: 70%;

    margin-left: 50px;
   
    
  }
  #v1{height: 40vh;}

  #v2{
    height:40vh;margin-left: 50px;
  }
  #v3{
    height:40vh;margin-left: 50px;
  }
  #get1 {
    font-size: 25px;
    margin-top: 50px;
    margin-left: 10px;
  }
  #get2 {
    font-size: 23px;
    margin-left: 10px;


  }
  #about2 {
    font-size: 24px;
    
    margin-top: -56%;
    margin-left: 10px;
  }
  #words {
    font-size: 16px;
    margin-top: 2px;
    margin-left: 10px;
  }
  #mission {
    font-size: 20px;
    margin-top: 20px;
    margin-left: 10px;
  }
  #missionword {
    font-size: 14px;
    margin-top: 10px;
    margin-left: 10px;
    
  }
  #vision {
    font-size: 20px;
    margin-top: 20px;
    margin-left:10px;
  }
  #visionword {
    font-size: 14px;
    margin-top: 10px;
    margin-left: 10px;
  }
  #thank {
    font-size: 16px;
    margin-left:20px;
    height:30%;

    margin-left: 10px;

  }
  #hands {
    font-size: 40px;
    margin-top: 20px;
    margin-top:-0%;
  }
  #team {
    font-size: 20px;
    margin-top: 20px;
  }
  #devs {
    font-size: 14px;
    margin-top: 10px;
    margin-left: auto;
  }
  #prdt {
    font-size: 24px;
    margin-top: 20px;
    margin-left: auto;
  }
  
  #app {
    font-size: 20px;
    margin-top: 20px;
    margin-left: auto;
  }
  #our {
    font-size: 16px;
    margin-top: 10px;
  }
  .section1, .section2, .section3 {
    margin-top: 30px;
    margin-left: auto;
  }
  #h4{
    margin-left: 25%;
  }
  #footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  #foot {
    margin-top: 20px;
  }
  .foot_contact {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    
  }
  .foot_contact h4 {
    font-size: 16px;
  }
  .foot_contact div {
    flex: 1;
    margin-right: 20px;
  }
  #f1, #f2, #f3, #f4 {
    display: none;
    
  }
